{% extends 'base.html' %}

{% block content %}



{% include 'includes/messages.html' %}
{% if error_message %}
<ul>
    <li style="color: red;">
        {{error_message}}
    </li>
</ul>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
  
    <div class="mb-3">
        <label  class="form-label">Your One Time Password. </label>
        <input type="number" name="otp" class="form-control" placeholder="Enter your otp"
    </div>
    <input type="submit" class="btn btn-primary mt-3">
</form>
{% endblock %}