{% load static %}
<header
      class="bg-gradient-to-r from-[#fbbf24] from-5% via-[#fb923c] w-full via-20% to-[#fbbf24] to-80% drop-shadow-lg"
    >
      <nav
        class="flex items-center justify-between flex-wrap bg-white-500 h-20 px-5"
      >
        <!-- Logo image -->
        <div class="flex items-center text-black">
          <a href="{% url 'home' %}" style="margin-left:20px">
            Django App Interview Task
          </a>
          <!-- Search Box -->
        
        </div>
        <!-- Register button -->
        <div class="hidden lg:flex items-center">
          <!-- add to card button -->
          <label class="font-bold mr-3 ml-3 text-1xl">
            {% if user.is_authenticated %}

            <a href="{% url 'logout' %}" class="cursor-pointer">Logout</a> /
            <a href="" class="cursor-pointer">MY Account</a> 
            {% else%}
              <a href="{% url 'login-user' %}" class="cursor-pointer">Login</a> /
              <a href="{% url 'register' %}" class="cursor-pointer">Register</a> 

          
            {% endif%}
          </label>
        </div>
      </nav>
      <!-- Mobile and Tablet menu -->
         </header>